* {
  font-family: Verdana, sans-serif;
}

h1 {
  color: burlywood;
}

a {
  color: black;
  text-decoration: none;
}

.koshary:hover {
  color: red;
}

.lasagna:hover {
  color: burlywood;
}

.spaghetti:hover {
  color: rgb(109, 109, 65);
}
